.container {
  max-width: 500px;
  margin: 15px auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.select {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

label {
  font-weight: bold;
  padding: 4px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2c1f1f;
  border-radius: 15px;
}

.error {
  color: red;
  margin-top: 2px;
  margin-left: 2px;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-add {
  display: flex;
  padding: 12px;
  background-color: #229b0a;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 40px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.btn-add:hover {
  background-color: #227650;
}
