body {
  display: flex;
  flex: 1;
  height: 80vh;
  align-items: center;
  flex-direction: column;
}
.appointment-container {
  display: flex;
  min-width: 80%;
  margin: 25px;
  flex-direction: column;
  justify-content: center;
}

.appointment-header {
  display: flex;
  padding: 10px;
}

.appointment-label {
  margin-right: 10px;
  font-weight: bold;
}

.appointment-details {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.patient-name {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.patient-select {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.patient-select .form-group {
  margin: 0;
}

.patient-select .form-control {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.appointment-button button {
  background-color: #e00000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.appointment-button button:hover {
  background-color: #c00000;
}

.selects-container {
  display: flex;
  flex-direction: row;
  min-width: 75%;
  justify-content: space-around;
}

select {
  border: 1px solid #555;
  min-width: 150px;
  margin: 5px;
  border-radius: 10px;
  height: 30px;
  padding: 2px;
  font-size: 20px;
  font-weight: 400;
}

option {
  margin: 8px;
  font-size: 20px;
  font-weight: 400;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  border-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dates-container {
  display: flex;
  max-width: 600px;
  align-self: center;
  margin-top: 15px;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

.date-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #f3dcdc;
  transition: background-color 0.3s ease;
  color: #c00000;
}

.date-item:hover {
  background-color: #e0ffff;
}

.date-weekday {
  font-size: 20px;
  font-weight: 600;
}

.appointments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  width: 30%;
  padding: 10px;
}

.appointment-item {
  background-color: #0c75d1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  flex: 1;
}

.appointment-item:hover {
  background-color: #e0ffff;
}
