<div class="welcome-screen">
  <div class="profile-card">
    <img class="avatar" [src]="userData.perfilImagen1" alt="Avatar" />
    <h2>{{ userData.nombre }} {{ userData.apellido }}</h2>
    <p class="specialty">{{ userData.especialidad }}</p>
    <div class="user-info">
      <p><strong>DNI:</strong> {{ userData.dni }}</p>
      <p><strong>Edad:</strong> {{ userData.edad }}</p>
      <p><strong>Email:</strong> {{ userData.mail }}</p>
      <p [hiddenComponent]="userData.rol !== 'Paciente'">
        <strong>Obra Social:</strong> {{ userData.obraSocial }}
      </p>
      <div [hiddenComponent]="userData.rol !== 'Especialista'">
        <button (click)="handleSelectAvaiblesDays()">Mis horarios</button>
      </div>
    </div>
  </div>
</div>
