<div class="welcome-screen">
  <div class="profile-card">
    <img class="avatar" [src]="userData.perfilImagen1" alt="Avatar" />
    <h2>{{ userData.nombre }} {{ userData.apellido }}</h2>
    <p class="specialty">{{ userData.especialidad }}</p>
    <div class="user-info">
      <p><strong>DNI:</strong> {{ userData.dni }}</p>
      <p><strong>Edad:</strong> {{ userData.edad }}</p>
      <p><strong>Email:</strong> {{ userData.mail }}</p>
      <p><strong>Obra Social:</strong> {{ userData.obraSocial }}</p>
    </div>
  </div>
</div>
