/* Estilos generales para el contenedor */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilo para el título */
h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para las imágenes */
img {
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: azure;
}

/* Efecto hover para las imágenes */
img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilo para el contenido del diálogo */
mat-dialog-content {
  display: flex;
  flex-direction: ro;
  align-items: center;
}
